$white_color: #fff;
$black_color: #000;

$dark_gray_color: #333333;
$dark_gray_color1: #3a3a3a;
$dark_gray_color2: #616161;

$light_gray1: #d9d9d9;
$light_gray2: #9f9f9f;
$light_gray3: #f4f5f7;

$gray1: #898989;

$light_cream: #faf3ea;
$light_cream1: #fff3e3;
$light_cream2: #fcf8f3;

$primary_color: #b88e2f;
