@import "../../assets/scss/variables.scss";

.new_collection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $light_cream1;
  padding: 4rem;
  width: 64.3rem;
  height: 44.3rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 14rem;
  right: 6rem;

  .new {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 3px;
    color: $dark_gray_color;
  }

  .new_collection_title {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.5rem;
    color: $primary_color;
  }

  .new_collection_description {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: $dark_gray_color;
  }

  .buy_now {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 22.2rem;
    height: 7.4rem;
    background-color: $primary_color;
    margin-top: 4rem;

    p {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.4rem;
      color: $white_color;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 850px) {
  .new_collection {
    position: unset;
  }
}

@media screen and (max-width: 428px) {
  .new_collection {
    width: 80%;
    gap: 2rem;

    .new_collection_title {
      font-size: 4rem;
      font-weight: 600;
      line-height: 5rem;
    }

    .buy_now {
      margin: 0;
      width: 18rem;
      height: 6rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .new_collection {
    width: 90%;
    padding: 2rem;
  }
}
