@import "../../assets/scss/variables.scss";

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 38.1rem;

  .image {
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }

  .typography {
    color: $dark_gray_color;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 428px) {
  .figure {
    width: 100%;
  }
}
