@import "../../assets/scss/variables.scss";

.section_Container {
  display: flex;
  flex-direction: column;
  margin: 4rem 10rem;

  .typography {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .title {
      color: $dark_gray_color;
      font-size: 3.2rem;
      font-weight: 700;
    }

    .description {
      color: $dark_gray_color3;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .articlesGroupe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 428px) {
  .section_Container {
    margin: 4rem;
  }
}
