@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 48%;
  }
}

@media screen and (max-width: 428px) {
  html {
    font-size: 45%;
  }
}
