@import "../../assets/scss/variables.scss";

.cartModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #00000033;

  .cartModalContent {
    width: 41.7rem;
    height: 74.6rem;
    padding: 2rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;

    .cartModalContent_top {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 3.6rem;
        }
      }

      .line {
        background-color: $light_gray1;
        width: 27.7rem;
        height: 1px;
      }
    }

    .cartModalContent_bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cart_modal_btns {
        display: flex;
        align-items: center;
        gap: 2rem;
      }

      .cart_modal_btn {
        padding: 1rem 2rem;
        border: 1px solid $black_color;
        border-radius: 5rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.8rem;
      }
    }
  }
}
