@import "../../assets/scss/variables.scss";

.footer {
  border-top: 1px solid $light_gray1;
  padding-top: 4rem;

  .footer_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 10rem;

    .address,
    .links,
    .help,
    .newsletter {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      p {
        color: $light_gray2;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
      }
    }

    .address {
      .text_logo {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.6rem;
        color: $black_color;
      }

      span {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        color: $light_gray2;
      }
    }

    .help,
    .links {
      span {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
        cursor: pointer;
      }
    }

    .newsletter {
      label {
        display: flex;
        align-items: flex-start;
        height: 2.4rem;
        gap: 2rem;

        input {
          border: none;
          border-bottom: 1px solid $black_color;
          width: 20rem;
          height: 100%;
        }

        ::placeholder {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2.1rem;
          color: $light_gray2;
        }

        .btn_subscribe {
          border: none;
          background-color: $white_color;
          border-bottom: 1px solid $black_color;
          cursor: pointer;
          height: 100%;
          font-size: 1.4rem;
          line-height: 2.1rem;
          font-weight: 500;
        }
      }
    }
  }

  .footer_bottom {
    border-top: 1px solid $light_gray1;
    padding-top: 4rem;
    margin: 0 10rem 2rem 10rem;

    .rights {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .footer_top {
      margin: 5rem;
    }

    .footer_bottom {
      margin: 0 5rem 2rem 5rem;
    }
  }
}
